<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwjjbt.sob_blog_system_mp.mapper.TbCategoriesMapper">

    <update id="updateCatById" parameterType="com.wwjjbt.sob_blog_system_mp.pojo.TbCategories">
        UPDATE tb_categories SET c_name=#{cName}
        , pinyin=#{pinyin}
        , description=#{description}
        , c_order=#{cOrder}
        ,c_status=#{cStatus}
        ,create_time=#{createTime}
        ,update_time=#{updateTime}
        WHERE id=#{id}
    </update>

    <select id="getCategorysByState" resultType="tbCategories">
        select * from tb_categories where c_status = '1'
    </select>

</mapper>
