<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwjjbt.sob_blog_system_mp.mapper.TbSettingsMapper">


  <update id="updateSettingsMapper" parameterType="map">
        update tb_settings set `value` = #{value} where `key`=#{key};
  </update>
    
    <update id="updateKeyWords" parameterType="map">
        update tb_settings set `value` = #{keyWordsValue} where `key`=#{Wordskey};
    </update>
    <update id="updateDesc" parameterType="map">
        update tb_settings set `value` = #{DescValue} where `key`=#{DescKey};
    </update>

</mapper>
